.sidebar{
    min-height: 100vh;
    max-height: auto;
    background-color: rgb(145, 145, 145);
}
.content{
    min-height: auto;
     background-color: rgb(255, 255, 255);
}
.footer{
    min-height: 50vh;
     background-color: red;
}
.zoom-image {
  transition: transform 0.3s ease;
}

.zoom-image:hover {
  transform: scale(1.2); 
}